.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=')
}

.gutter.gutter-horizontal {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')
}

.split {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

	overflow-y: auto;
    overflow-x: hidden;
}

.split, .gutter.gutter-horizontal {
    float: left;
    height: 100%;

}



/* svg related */

svg {
  height: 100%;
  width: 100%;
}

.endpoint {
  fill: orange;
}

.mailbox {
  fill: lightblue;
}

.mboxlink {
  stroke: gray;
  stroke-width: 1px;
}

.msglink {
  stroke: gray;
  stroke-width: 3px;
}

.active,
.msglink.active, 
.mboxlink.active {
  stroke: red;
  stroke-width: 3px;
}

.peerlink {
	stroke: orange;
	stroke-width: 6px;
}

.peerlink.active {
	stroke: red;
}

text {
  font-family: inconsolata;
  font-size: 12pt;
}

/* layout related */

body {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

code {
	background-color: transparent !important;
}

#main {
  padding-top:52px;
  height: 100vh;
  width: 100vw
}

#left, #right {
	height: 100%;
}

#input {
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	      box-sizing: border-box;

  font-family: inconsolata;

  min-width: calc( 100% - 10px); !important;
  max-width: none;
  width: calc( 100% - 10px);
  
  max-height: none;
  
  margin-left: 10px;
  margin-top: 10px;
  
  resize: none;
  background-color: #eee;
}

#output {
  width: 100%;
  margin: 0;
  background-color: #eee;
}